html {
	background-image: url(http://placehold.it/1500x1000);
	background-repeat: no-repeat;
	background-position: center center;
	width: auto;
	height: 30rem;

}

.img-flex {
	display: block;
	width: 100%;
}