footer {
	background: #000;
	overflow: hidden;
	width: 100%;
	padding-top: 1rem;
}


.copyright {
	text-align: center;
}

@media only screen and (min-width: 30em){
	
	.copyright {
		text-align: right;
		margin-right: 0.75em;
	}
	
}

html {
	background-image: none;
}




/*er {
	background: #626262;
	font-size: .75em;
	font-weight: 200;
	color: #FFF;
	padding: 1em;
	height: 6rem;
	font-family: Tahoma, Geneva, sans-serif;
}*/