.header {
  background-color: #fff;
  opacity: 0.5;
  height: auto;
  width: auto;
  overflow: hidden;

}

.logo {
	margin: 0.5em 0.5em 0 0.5em ;
}

nav {
	padding-top: 2rem;
}


nav ol {
	text-transform: uppercase;
	list-style: none;
	text-align: center;
	padding: 0;
}

@media only screen and (min-width: 30em){
	.nav .list-item {
		display: inline-block;
	}

	nav ol {
		text-align: right;
	}
}