.header {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255,255,255, 0.2);
}

.logo {
	margin: 0.5em 0.5em 0.5em 2em;
	width: 70%;
	float: left;
	display: inline;
}

nav {
	padding-top: 3rem;
	color: #fff;

}


nav ol {
	text-transform: uppercase;
	list-style: none;
	text-align: center;
	padding: 0;
}

@media only screen and (min-width: 30em){
	.nav .list-item {
		display: inline-block;
	}

	nav ol {
		text-align: right;
	}
}

.small-banner{
	background-image: url(../images/banner-1.jpg);
	background-size: cover;
	height: 10em;
	text-align: center;
}

.banner h2{
	color: #FF6473;
}