@charset "UTF-8";
/*List Group*/

.list-group {
	list-style-type: none;
}

.list-item {
	display: block;
}

.list-item:before {
	content: none;
}

.list-item-inline {
	display: inline-block;
	margin-right: 1em;
}
