@charset "UTF-8";
/*List Group*/

.list-group {
	list-style-type: none;
}

.list-item {
	display: block;
}

.list-item:before {
	content: "✽"
	color: #999;
  	position: absolute;
  	left: -1em;
}

.list-item-inline {
	display: inline-block;
	margin-right: 1em;
}
