/*
  Colour Palette
  - Light turq: #6CCCB0 - rgb(108,204,176);
  - Dark turq: #55A18B - rgb(85,161,139);
  - Dark Green: #5E7474 - rgb (94, 116, 116);
  - Beige: #A08964 - rgb(160,137,100);
  - Light beige: #EDDCC7 - rgb(237,220,199);
 */


.large-promo{
	position: relative;
}


.body {
	position: absolute;
	top: 25em;
	background-color: rgba(255,255,255, 0.7);
	padding: 1rem;
}

.small-promo {
	min-height: 0;
	border: 2px outset #55A18B;
	border-radius: 3px;
}

.small-promo-img{
	float: left;
	margin: 0 10px 0 0;
}

@media only screen and (min-width: 30em){
	.body {
		right: 10em;
	}
}


