--- 
layout: default
title: Accessories
showbanner: yes
---

<div>

	<div>
		<nav>
			<ol class="filternav">
				<li><a href="{{site.baseurl}}/accessories/scarfs/">Scarfs</li>
				<li><a href="{{site.baseurl}}/accessories/rings/">Rings</li>
				<li><a href="{{site.baseurl}}/accessories/necklaces/">Necklaces</li>
			</ol>
		</nav>
	</div>

	<div>
		<h1>RINGS</h1>
	</div>
	<div>
		<p>Every ring here has been hand picked and chosen to be apart of this collection for it's unique look. In here you'll find many types of rings that would suite various occasions.</p>
	</div>
</div>

<ol>
	{% for access in site.pages %}
		{% if access.type == 'ring' %}

			<li class="space-under list-item unit unit-s-1 unit-m-1-2 unit-l-1-3">
				<a href="{{site.baseurl}}{{access.url}}">
					<img class="img-flex" src="{{site.baseurl}}/images/{{access.image}}" alt"">
					{{access.title}}
				</a>
			</li>

		{% endif %}
	{% endfor %}
</ol>
