---
layout: default
title: accessibility-testing-report
___


# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Michelle Dugas}
- {Quynh Nguyen}
- {Stacy Cowan}
- {Nicole Viero}
- {Alissa Dicaire}
- {Elzahra Elghirani}


## Tasks

1. {Add claw ring to your cart}
2. {Find pink scarf}
3. {View only ring results}

---

Individual Results & Observations

{Michelle Dugas}
{She expected the add to cart button to highlight on tab but it didn't}
{She completed tasks successfully}

{Quynh Nguyen}
{She started from the homepage and navigated comfortably throughout the site}


{Stacy Cowan}
{She expected the logo to highlight on tab and when pressed go back to home page}

{Nicole Viero}
{She completed the task with ease and has no issues}

{Alissa Dicaire}
{She completed the tasks successfuly}
{Made a suggestion to edit some ALT tags}

{Elzahra Elghirani}
{Slightly hard to see categories}
{Completed all the tasks properly}


Trends
Should be able to tab to logo and when prssed take viewer to home. 
Fix visibility of nav links

Critical, Needs Fixing, Unable to Complete

Serious, Causes Frustration, May Hinder Completion

Minor, Annoying, Won’t Hinder Completion
Change "must have it" to "add to cart"