---
layout: default
title: Home
---
<main role="main">
	<!--<div class="grid">
		<div class="unit unit-s-1 unit-m-1 unit-l-3-3">
			{% include promo-large.html %}
		</div>
	</div>-->

<h2>Welcome to Beit Laila!</h2>

<p>With the vintage market on the rise to popularity each year we've found it sometimes frustrating that the prices for vintage seem to have risen greatly too! Our shop is here to provide all you vintage lovers the perfect pieces for the perfect prices! Keeping it real with our funky finds, and painless price tags.</p>

<h3>Spring Specials!</h3>

	<div class="grid popular">
		<div class="unit unit-s-1-2 unit-m-1-2 unit-l-1-3">
			{% include promo-small.html %}
		</div>
		<div class="unit unit-s-1-2 unit-m-1-2 unit-l-1-3">
			{% include promo-small.html %}
		</div>
	</div>
</main>