--- 
layout: default
title: Accessories
---

<div>
	<div>
		<h1>Search results</h1>
	</div>
	<div>
		<p>Is this what you were looking for ?</p>
	</div>
</div>

<ol class="list-group grid">
	{% for access in site.pages %}
		{% if access.type == 'scarf' %}

			<li class="list-item unit unit-s-1 unit-m-1-2 unit-l-1-3">
				<a href="{{site.baseurl}}{{access.url}}">
					<img src="{{site.baseurl}}/images/{{access.image}}" alt"">
					{{access.title}}
				</a>
			</li>

		{% endif %}
	{% endfor %}
</ol>

