---
layout: default 
title: User testing
---

User testing was conducted by Iman Ghader on April 3rd between the times of 10:00pm and 12:00am with the following participants:

- Nicole Veiro
- Quynh Nguyen
- Elzahra Elghirani

## Tasks

1. Find Claw ring
2. Browse Scarfs
3. Add to cart ring 

---

## Individual Results & Observations

### Nicole Veiro

- Clicked on shop, ring, 

### Quynh Nguyen

- Clicked on I want it, notning happend
- Contant page isnt connected
- Cart button not available on single item page

### {Jordan Doe}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.