<div class="grid">
  
  <div class="media small-promo unit unit-s-1 unit-m-1-2 unit-l-3">

  	<div class="small-promo-img">
  		<img src="../images/promo-1.jpg" alt="first promo">
  	</div>

  	<div class="media-body">
  		<h2> Heading </h2>
  		<p>Lorem ipsum, dkjhdj, kdljkd, jsdks,</p>
  		<a class="btn" href="#">I want it!</a>
  	</div>

  </div>

</div>

<div class="grid">
  
  <div class="media small-promo unit unit-s-1 unit-m-1-2 unit-l-3">

    <div class="small-promo-img">
      <img src="../images/promo-1.jpg" alt="first promo">
    </div>

    <div class="media-body">
      <h2> Heading </h2>
      <p>Lorem ipsum, dkjhdj, kdljkd, jsdks,</p>
      <a class="btn" href="#">I want it!</a>
    </div>

  </div>

</div>
<div class="grid">
  
  <div class="media small-promo unit unit-s-1 unit-m-1-2 unit-l-3">

    <div class="small-promo-img">
      <img src="../images/promo-1.jpg" alt="first promo">
    </div>

    <div class="media-body">
      <h2> Heading </h2>
      <p>Lorem ipsum, dkjhdj, kdljkd, jsdks,</p>
      <a class="btn" href="#">I want it!</a>
    </div>

  </div>

</div>