.filternav,
a:visited {
	color: #fff;
}


.filternav,
ol {
	text-transform: uppercase;
	list-style: none;
	text-align: center;
	padding: 0;
	margin-top: 1rem;
}

.space-under {
	margin-bottom: 1rem;
}

.md-img {
	max-width: 30%;
}


