/*
  Colour Palette
  - Light turq: #6CCCB0 - rgb(108,204,176);
  - Dark turq: #55A18B - rgb(85,161,139);
  - Dark Green: #5E7474 - rgb (94, 116, 116);
  - Beige: #A08964 - rgb(160,137,100);
  - Light beige: #EDDCC7 - rgb(237,220,199);
 */

.btn,
.btn:link,
.btn:visited {
	color: #fff;
	display: inline-block;
	padding: 0.6em 2em;
	background-color: maroon;
	text-transform: uppercase;
	border: none;
	margin: 0;
}

.btn:active,
.btn:focus,
.btn:hover {
	background-color: #000;
}


.btn-alt:visited {
	background-color: #000;
}


/* a:link {color:#FF0000;}      unvisited link */
/* a:visited {color:#00FF00;}  visited link */
/* a:hover {color:#FF00FF;}   mouse over link */
/* a:active {color:#0000FF;}   selected link */