.header {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  background-color: rgba(255,255,255, 0.3);
}

.logo {
	margin: 0.5em;
	width: 90%;
	float: left;
	display: inline;
}

.nav {
	color: #fff;
	font-size: 0.8em;
	height: 2.5em;
}

.nav,
a:visited {
	color: #fff;
}


.nav ol {
	text-transform: uppercase;
	list-style: none;
	text-align: center;
	padding: 0;
}

.nav li {
	padding: 0 1rem 0 0;
}

.banner{
	background-image: url(../images/banner-1.jpg);
	background-size: cover;
	text-align: center;
	height: 20rem;
}

@media only screen and (min-width: 15em){ /*240*/
	
	.banner {
		height: 11rem;
	}

	.nav {
		padding-top: 0.25em;
	}
}

@media only screen and (min-width: 17.5em){ /*280*/
	
	.banner {
		height: 15rem;
	}

	.logo {
		width: 70%;
		margin: 0 3.8em;
	}

	.nav {
		font-size: 0.9em;
	}
}

@media only screen and (min-width: 25em){ /*400*/
	.nav {
		font-size: 1em;
	}

	.banner {
		height: 20rem;
	}
}


@media only screen and (min-width: 30em){ /*480*/
	.nav {
		font-size: 1em;
		text-align: right;
	}

	.nav .list-item {
		display: inline-block;
	}

	.logo {
		width: 100%;
		margin: 0;
	}

	.banner {
		height: 30rem;
	}

	.nav li {
		padding: 0 0.15rem 0 0;
	}
}


@media only screen and (min-width: 37.5em){ /*600*/
	.nav {
		font-size: 1em;
		margin-top: 0.15em;
	}

	.banner {
		height: 35rem;
	}

	.nav li {
		padding: 0 1rem 0 0;
	}
}

@media only screen and (min-width: 50em){ /*800*/
	.nav {
		font-size: 0.9em;
		margin-top: 1em;
	}
}

@media only screen and (min-width: 53.125em){ /*850*/
	.nav {
		font-size: 1em;
		margin-top: 0.8em;
	}

	.logo {
		max-width: 90%;
	}
}
	

