--- 
layout: default
title: Accessories
showbanner: yes
---

<div>

	<div>
		<nav>
			<ol class="filternav">
				<li><a href="{{site.baseurl}}/accessories/scarfs/">Scarfs</li>
				<li><a href="{{site.baseurl}}/accessories/rings/">Rings</li>
				<li><a href="{{site.baseurl}}/accessories/necklaces/">Necklaces</li>
			</ol>
		</nav>
	</div>

	<div>
		<h1>NECKLACES</h1>
	</div>
	<div>
		<p>Mainly selected from local thrift shop, each of these necklaces carries a sense of it's previous owner. When you purchase one of these, you are recieving the houner of carrying senses from the past.</p>
	</div>
</div>

<ul class="list-group grid">
	{% for access in site.pages %}
		{% if access.type == 'necklaces' %}

			<li class="space-under list-item unit unit-s-1 unit-m-1-2 unit-l-1-3">
				<a href="{{site.baseurl}}{{access.url}}">
					<img class="img-flex" src="{{site.baseurl}}/images/{{access.image}}" alt"">
					{{access.title}}
				</a>
			</li>

		{% endif %}
	{% endfor %}
</ul>
