<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>{{page.title}} • Iman's Shop</title>
 <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600|Neucha' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-objects.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/search-field.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">


</head>
<body>

	
	<header role="banner">
		<div class="grid header">
		  
		    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
		    	<img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="Beit Laila logo">
		    </div>

			<div class="nav unit unit-s-1 unit-m-1-2 unit-l-1-3 gutter" role="navigation">
			
				<nav>
				    <ol class="nav {{include.navclass}}">
				      <li class="list-item list-item-inline">
				            <a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a>
				          </li>

				          <li class="list-item list-item-inline">
				            <a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About</a>
				          </li>

				          <li class="list-item list-item-inline">
				            <a href="{{site.baseurl}}/accessories/index.html" class="{% if page.url == '/accessories/index.html' %}current{% endif %}">Shop</a>
				          </li>

				          <li class="list-item list-item-inline">
				            <a href="#">Contact</a>
				          </li>
				    </ol>
				  </nav>
			  </div>

			   <div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
			    <form role="search" class="searchform cf" method="get" action="{{site.baseurl}}/search.html">
				  <input class="searchfield" type="text" placeholder="Search">
				  <button class="btn" type="submit">Search</button>
				</form>
			</div>

		</div>
	</header>

			<div class="banner">
				<div class="bannertext">
					<h2>Spring deals</h2>
					<p>Check our latest addition to the shop.</p>
				</div>
			</div>

			<!--{% if.page.showbanner %}	
			<div class="small-banner">
				<h2>{{page.bannertext}}</h2>
			</div>
			{% endif %}-->

		
	

	{{content}}
		

	<footer class="footer">
	    <div class="grid">
	      
			<div class="nav unit unit-s-1 unit-m-1-2 unit-l-1-3 gutter" role="navigation">
			
				<nav>
				    <ol class="nav {{include.navclass}}">
				      <li class="list-item list-item-inline">
				            <a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a>
				          </li>

				          <li class="list-item list-item-inline">
				            <a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About</a>
				          </li>

				          <li class="list-item list-item-inline">
				            <a href="{{site.baseurl}}/accessories/index.html" class="{% if page.url == '/accessories/index.html' %}current{% endif %}">Shop</a>
				          </li>

				          <li class="list-item list-item-inline">
				            <a href="#">Contact</a>
				          </li>
				    </ol>
				  </nav>
			</div>

		    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3 gutter-half" role="contentinfo">
		    	<p class="copyright"><small>© Copyright 2014<small></p> 
		    </div>
	    
	    </div>
	</footer>

</body>
</html>