<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Iman's Shop</title>
</head>
<body>

	<header>
		<h1>Iman's shop</h1>
		
		<div class="nav unit unit-s-1 unit-m-1-2 unit-l-2-3 gutter">
  			<nav>
    			<ol>
			      <li class="list-item list-item-inline">
			            <a href="{{site.baseurl}}/index.html">Home</a>
			          </li>

			          <li class="list-item list-item-inline">
			            <a href="{{site.baseurl}}/about.html">About</a>
			          </li>

			          <li class="list-item list-item-inline">
			            <a href="#">Shop</a>
			          </li>

			          <li class="list-item list-item-inline">
			            <a href="#">Contact</a>
			          </li>
    			</ol>
  			</nav>
  		</div>
	
	{{content}}

</body>
</html>